#get__started {
  padding-top: 3rem;

  min-height: 80vh;

  .left {
    @include gradient;
    // height: 100vh;
    padding: 4rem;
    margin: 1rem 0;

    .left__info {
      h4 {
        display: block;
      }
    }
    .cta__info__list {
      list-style: none;
      display: block;

      li {
        font-size: 1.2rem;
      }
    }
  }

  .form__header {
    background-clip: text;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, $primary, $secondary);
  }
}
